// palette
$color-dark: #000000;
$color-primary: #212121;
$color-grey-dark:#484848;
$color-dark: #6b6b6b;
$color-grey-light-1: #909090;
$color-grey-light-2: #bfbfbf;

$color--secondary: #5e35b1;
$color--secondary-dark: #280680;
$color--secondary-light: #9162e4;
$color--secondary-light-1: #b093e2;
$color--secondary-light-2: #d2c8e2;


// 2nd palette
$color-primary-dark-1: #23272a;
$color-primary-dark-2: #2c2f33;
$color-primary-light-1: #99aab5;
$color-primary-blue: #7289da;
$color-light: #ffffff;


//3rd palette
$color-thirdiary-dark: #222831;
$color-thirdiary-gray: #393e46;
$color-thirdiary-orange: #fd7014;
$color-thirdiary-light: #eee;
$color-thirdiary-blue: #00adb5;
$color-thirdiary-blue-1: #00fff5;
$color-thirdiary-blue-2: #00DEE8;









